{{#each events as |event|}}


   <!-- Developers, why are we using data-id and not just id? -->
  <h4 data-id="{{event.id}}"> <small>Name: {{event.name}}</small></h4>
  <div>
    {{#if event.description}}
      {{event.description}}
      {{event.id}}
    {{else}}
      No description.
    {{/if}}
  </div>
{{/each}}
